/* UNIVERSAL */
:root {
  --yellow: #ffbb00;
  --red: #D62525;
  --black: #232323;
  --grey: #6f6f6f;
  --white: #ffffff;
  --white2: #F7F7F7; /* only for background */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: var(--black);
  background-color: var(--white2);
  background-image: url('../images/24chicken-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.352);
  overflow-x: hidden;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 60px; /* footer height */
}

.content-margin {
  margin-left: 100px;
  margin-right: 100px;
}

@media screen and (max-width: 900px) {
  .content-margin {
    margin-left: 50px;
    margin-right: 50px;
  }
}

/* CONTENT */
#title {
  position: absolute;
  top: 38%;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  font-family: 'Fugaz One', cursive;
  font-weight: normal;
  text-align: center;
  font-size: 60px;
  text-shadow: rgba(0, 0, 0, 0.621) 5px 5px 5px;
}

.login {
  position: absolute;
  top: 55%;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  background-color: var(--white);
  width: 50%;
  height: auto;
  border-radius: 10px;
  -webkit-filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.2));
}

.login-content {
  display: block;
  margin: 0 auto;
  width: 90%;
  font-size: 16px;
  text-align: center;
  color: var(--black);
  padding: 20px;
}

#yellow {
  color: var(--yellow);
}

#red {
  color: var(--red);
}

@media screen and (max-width: 900px) {
  .login {
    width: 75%;
  }
}